<h1>Investments Summary</h1>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th>IRA Total</th>
        <th>Other Funds</th>
        <th>Total Investments<th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalIRA}}</td>
        <td>{{totalDifference}}</td>
        <td>{{totalInvestment}}</td>
      </tr>
    </tbody>
  </table>

<h1>Pay Summary</h1>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th>Total Month</th>
        <th>Total Year</th>
        <th>Total Life<th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalIRA}}</td>
        <td>{{totalDifference}}</td>
        <td>{{totalInvestment}}</td>
      </tr>
    </tbody>
  </table>

<h1>Transaction Summary</h1>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th>Total Month</th>
        <th>Total Year</th>
        <th>Total Life<th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totalIRA}}</td>
        <td>{{totalDifference}}</td>
        <td>{{totalInvestment}}</td>
      </tr>
    </tbody>
  </table>

<h3> ... To come: Monthly break down...</h3>