<h1>Investments</h1>

<P ng-show='showError'>{{showErrorMessage}}</P>
<button ng-click="addInvestment()"> Add Pay</button>

<div ng-show='showNewInvestment'>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th>Investment</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" ng-model="newInvestment.investment"></td>
        <td><input type="text" ng-model="newInvestment.amount"></td>
        <td><input type="date" ng-model="newInvestment.date"></td>
      </tr>
    </tbody>
  </table>
    <button ng-click='submitInvestment(newInvestment)'> Save Investment</button>
</div>

<div ng-show='showErrorWithNew'>
    <h1>{{showErrorMessage}}</h1>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Investment</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='investment in investments'>
        <td><input type="text" ng-model="investment.investment"></td>
        <td><input type="text" ng-model="investment.amount"></td>
        <td><input type="text" ng-model="investment.date"></td>
        <td><button ng-click='updateInvestment(investment)'>Update</button></td>
        <td><button ng-click='deleteInvestment(investment)'>Delete</button></td>
      </tr>
    </tbody>
  </table>