<h1>Pay</h1>

<P ng-show='showError'>{{showErrorMessage}}</P>
<button ng-click="addPay()"> Add Pay</button>

<div ng-show='showNewPay'>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th>Company</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" ng-model="newPay.company"></td>
        <td><input type="text" ng-model="newPay.amount"></td>
        <td><input type="date" ng-model="newPay.date"></td>
      </tr>
    </tbody>
  </table>
    <button ng-click='submitPay(newPay)'> Save Pay</button>
</div>

<div ng-show='showErrorWithNew'>
    <h1>{{showErrorMessage}}</h1>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Company</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='pay in payments'>
        <td><input type="text" ng-model="pay.company"></td>
        <td><input type="text" ng-model="pay.amount"></td>
        <td><input type="text" ng-model="pay.date"></td>
        <td><button ng-click='updatePay(pay)'>Update</button></td>
        <td><button ng-click='deletePay(pay)'>Delete</button></td>
      </tr>
    </tbody>
  </table>